<h2>Chat</h2>

<h3>Participants:</h3>
<ul>
  <% chat.participants.forEach(p => { %>
    <li><%= p.name %> (<%= p.email %>)</li>
  <% }) %>
</ul>

<hr>

<div id="messages">
  <% messages.forEach(msg => { %>
    
    <div>
      <b><%= msg.senderId.name %>:</b>
      <%= msg.text %>
    </div>

  <% }) %>
</div>

<hr>

<form method="POST" action="/message">
  <input type="hidden" name="chatId" value="<%= chat._id %>" />
  
  <input type="text" name="text" placeholder="Type message..." required />
  
  <button type="submit">Send</button>
</form>

<br>
<a href="/chat">Back to users</a>